
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=], initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  div id="nome">Nome
        <p>Gustavo Leite Ribeiro</p>
  </div>

  <div id="curso">Curso
        <p>Desenvolvedor Web</p>
  </div>

  <div id="objetivo">Objetivo
        <P>Me tornar um Desenvolvedor Full stack Para trabalhar em varios projetos e ganhar notoriedade</P>
  </div> 

  <div id="hobbies">Hobbies
        <P>Pratico a arte do desenho quando tenho tempo(que e quase nunca), e pratico o ciclismo pra me exercitar e passar o tempo 
        </P>
  </div>

  <div id="contato">Contato
    <P>Esse é meu telefona para contato caso queira me contratar (11)98701-0987 </P>
  </div>

  <div id="github">GitHub
    <P>https://github.com/Gustavoleiter</P>
  </div>


</body>
</html>
<router-outlet></router-outlet>
