body{
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background :linear-gradient(to left, rgb(61, 57, 57), rgb(255, 255, 255));
    
  
  }
  div{
    height: 100px;
    width: 200px;
    background-color: rgb(176, 186, 231);
    margin-right:5% ;
    text-align: center;
    border-radius: 30px;
    border-color: black;
    font-size: 34px ;

    
  }
  div > p{
    display: none;

  }
  div:hover{
    height: 400px ;
    background-color: black;
    color: aliceblue;


  }
  div:hover > p {
    color: aliceblue;
    display: block;
    font-size: 20px;
  }  
  div :not(:hover){
    transition: 2s;
  }
  p{
    text-indent: 2px;

  }
  #github{
    width: 400px;

  }
  div#github:hover{
    height: 100px;
    
  }
